.no
{
  height:20% ;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.kk{
    width: 60%;
    height: 30%;
    text-align: center;

    
}
.julio{
    display: flex;
    width: 100%;
    justify-content: center;
}

li{

  list-style: none;

}